@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');
html,
body {
  margin: 0;
  padding: 0;
}
body{
    size: 10px;
    line-height: 3.5em;
    font-weight: 300;
    font-family: Roboto;
}
h1{
    font-family: Roboto Condensed;
}
h2{
    font-family: Roboto Condensed;
}
h3{
    font-family: Roboto Condensed;
}
h4{
    font-family: Roboto Condensed;
}
h5{
    font-family: Roboto Condensed;
}
h1{
    font-size: 9em;
    text-align: center;
    transform: uppercase;
}
h2{font-size: 5em;
    text-align: center;
    transform: uppercase;

}
h3{font-size: 4.2em;
    text-align: center;
    line-height: 1em;}
h4{font-size: 1.5em;
    letter-spacing: 0.4px;
    line-height: 1em;}
    h5{
        font-size: 1.2em;
        line-height: 1em;
    }
h2{
    line-height: 4em;
}
.nav-bar{
    background-color: rgb(25,33,41);
}
.nav-bar a{
    color:white
}
.head{
    background-image: url(https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/ironhack-skydive-background.jpg);
    background-position: 0.0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
}
h2{
    color:white
}
h2{
    text-shadow:#020819 8px -20px 9px ;
}
.quote{
    font-size: 2.5em;
}
.section1{
    background-color: rgb(25,33,41);
    color:white
}
.text{
    font-size: 2em;
    font-weight: 100;
    text-align: center;
}
.link-btn{
    background-color: rgb(67, 163, 230);
    color:white
}
.link-btn{
    font-family: Roboto Condensed;
    font-size: 2em;
    letter-spacing: 0.5px;
    text-align: center;
    text-decoration: none;}
.section2{
    font-size: 1.7em;
    text-align: center;
}
.service-box-img{
    width: 125px;
}